<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/edit.css">
</head>

<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="/explore/">explore</a><span> | </span><a
            href="/u/{{logname}}/">{{logname}}</a></div>
</div>

<form action="" method="post" enctype="multipart/form-data" style="margin: 60px 0 30px 100px">
    <table style="border-spacing: 15px">
        <tr>
            <td>
                <img src="{{filename}}" alt="user_img" style="height: 60px; display: inline;">
            </td>
            <td>
                <p style="font-size: 20px; display: inline"><strong>{{logname}}</strong></p>
            </td>
        </tr>
        <tr>
            <td class="list_word">Photo</td>
            <td><input type="file" name="file"></td>
        </tr>
        <tr>
            <td class="list_word">Name</td>
            <td><input type="text" name="fullname" value="{{fullname}}"/></td>
        </tr>
        <tr>
            <td class="list_word">Email</td>
            <td><input type="text" name="email" value="{{email}}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="update" value="submit" class="button_style button1"/></td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>
</form>
<div style="margin: 0 115px">
    <a href="/accounts/password/" style="font-weight: bold">Change password</a>
    <br><br>
    <a href="/accounts/delete/" style="font-weight: bold">Delete account</a>
</div>
</body>
</html>
