<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Followers</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/followers.css">
</head>
<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="/explore/">explore</a><span> | </span><a
            href="/u/{{logname}}/">{{logname}}</a></div>
</div>
<h1 style="margin-left: 80px">Followers</h1>
{% for follower in followers %}
<div class="follower">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="/u/{{follower.username}}/"><img src="{{follower.user_img_url}}" alt="follower_img"></a>
                <a href="/u/{{follower.username}}/">{{follower.username}}</a>
            </td>
            {% if follower.username != logname and follower.logname_follows_username %}
            <td style="float: right">
                <div>
                    <p>following | </p>
                    <div style="display: inline-block">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow" class="button_style button1"/>
                            <input type="hidden" name="username" value="{{follower.username}}"/>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}{% if follower.username != logname and not follower.logname_follows_username %}
            <td style="float: right">
                <div>
                    <p>not following | </p>
                    <div style="display: inline-block">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow" class="button_style button1"/>
                            <input type="hidden" name="username" value="{{follower.username}}"/>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}
</body>
</html>
