<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="/explore/">explore</a><span> | </span><a
            href="/u/{{logname}}/">{{logname}}</a></div>
</div>
{% for post in posts %}
<div class="post">
    <div class="post-header">
        <a href="/u/{{post.owner}}/"><img src="{{post.owner_img_url}}" alt="post_owner_img"></a>
        <a href="/u/{{post.owner}}/" class="username">{{post.owner}}</a>
        <a class="post-time" href="/p/{{post.postid}}/">{{post.timestamp}}</a>
    </div>
    <img src="{{post.img_url}}" alt="post_img">
    <div class="comments">
        <p>{{post.likes}} like{% if post.likes != 1 %}s{% endif %}</p>
        {% for comment in post.comments %}
        <p><a class="username" href="/u/{{comment.owner}}/">{{comment.owner}}</a> {{comment.text}}</p>
        {% endfor %}
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="postid" value="{{post.postid}}"/>
            <input type="submit" name="{% if post.liked%}un{% endif %}like"
                       value="{% if post.liked%}un{% endif %}like" class="button_style button2"/>
        </form>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="hidden" name="postid" value="{{post.postid}}"/>
            <input type="text" name="text"/>
            <input type="submit" name="comment" value="comment" class="button_style button1"/>
        </form>
    </div>
</div>
{% endfor %}
</body>
</html>
