<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="">Login</a></div>
</div>

<div style="margin: 30px 30px;">
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="username" class="login_style button_style button2"/>
        <input type="password" name="password" placeholder="password" class="login_style button_style button2"/>
        <input type="submit" value="login" class="login_style button_style button1"/>
    </form>

    <p style="font-size: 20px">
        Don't have an account? <a href="/accounts/create/" style="font-weight: bold">Sign up</a>
    </p>
</div>


</body>
</html>
