<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post.css">
</head>
<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="/explore/">explore</a><span> | </span><a
            href="/u/{{logname}}/">{{logname}}</a></div>
</div>
<div class="post">
    <table style="width: 100%">
        <tr>
            <td style="width: 60%"><img style="width: 100%" src="{{img_url}}" alt="post_img"></td>
            <td style="vertical-align: top; width: 40%">
                <div class="post-header">
                    <a href="/u/{{owner}}/"><img src="{{owner_img_url}}" alt="post_owner_img"></a>
                    <a href="/u/{{owner}}/" class="username">{{owner}}</a>
                    <a class="post-time" href="/p/{{postid}}/">{{timestamp}}</a>
                </div>
                <div class="comments">
                    <p>{{likes}} {% if likes != 1 %}likes{% else %}like{% endif %}</p>
                    {% for comment in comments %}
                    <p><a class="username" href="/u/{{comment.owner}}/">{{comment.owner}}</a> {{comment.text}}</p>
                    {% if comment.owner == logname %}
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
                        <input type="submit" name="uncomment" value="delete" class="button_style button1"/>
                    </form>
                    {% endif %}
                    {% endfor %}
                    <br>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="submit" name="{% if liked%}un{% endif %}like"
                               value="{% if liked%}un{% endif %}like" class="button_style button2"/>
                    </form>
                    <br>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="text" name="text"/> <br>
                        <input type="submit" name="comment" value="comment" class="button_style button1"/>
                    </form>
                    <br><br>
                    {% if owner == logname %}
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="postid" value="{{postid}}"/>
                        <input type="submit" name="delete" value="delete this post" class="button_style button1"/>
                    </form>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
