<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
</head>
<body>
<div class="header">
    <a href="/"><img src="/static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="/explore/">explore</a><span> | </span><a
            href="/u/{{logname}}/">{{logname}}</a></div>
</div>
<a href="/u/{{username}}/" class="info-title">{{username}}</a>
<div class="info">
    {% if username != logname and logname_follows_username %}<p class="following">following</p>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="submit" name="unfollow" value="unfollow" class="button_style button1"/>
        <input type="hidden" name="username" value="{{username}}"/>
    </form>
    {% endif %}{% if username != logname and not logname_follows_username %}<p class="following">not following</p>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="submit" name="follow" value="follow" class="button_style button1"/>
        <input type="hidden" name="username" value="{{username}}"/>
    </form>
    {% endif %}
    {% if username == logname %}
    <a href="/accounts/edit/" class="username" style="margin-left: 0">Edit profile</a><span
        style="font-family: Arial; font-size: 20px"> | </span><a href="/accounts/logout/" class="username" style="margin-left: 0">logout</a>
    {% endif %}
    <p>{{total_posts}} post{% if total_posts != 1 %}s{% endif %} <a href="/u/{{username}}/followers/" class="username">{{followers}}
        follower{% if followers != 1 %}s{% endif %}</a> <a
            href="/u/{{username}}/following/" class="username">{{following}} following</a></p>
    <p>{{fullname}}</p>
    {% if username == logname %}
    <div class="div_border">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="round_border">
            <input type="submit" name="create_post" value="upload new post" class="button_style button1"/>
        </form>
    </div>
    {% endif %}
</div>
<div class="images">
    {% for post in posts %}
    <a href="/p/{{post.postid}}/"><img src="{{post.img_url}}" alt="post_img"></a>
    {% endfor %}
</div>
</body>
</html>
