.button_style {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button1:hover {
    background-color: #e7e7e7;
}

.button2 {
    width: 200px;
    height: 35px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.list_word {
    color: #646464;
    font-size: 20px;
}

.namestyle {
    font-size: 20px;
    display: inline;
    font-family: Arial, serif;
}
