.discover {
    margin: 25px auto;
    max-width: 800px;
    padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: #252525;
    border-radius: 7px;
}

.discover img {
    margin-right: 10px;
    height: 60px;
}

.button_style {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button1:hover {
    background-color: #e7e7e7;
}