.header {
    margin: 30px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-bottom-color: #252525;
}

.logo {
    height: 50px;
}

.header-links {
    float: right;
    margin: 20px 20px 0 0;
}

a {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: #646464;
    text-decoration: underline;
}

.header-links span {
    font-family: Arial;
    font-size: 20px;
}