.info-title {
    font-size: 40px;
    margin-left: 80px;
}

.info-title:hover {
    text-decoration: none;
}

.info {
    margin-left: 80px;
}

.username {
    font-size: 20px;
    font-weight: bold;
}

.info p {
    font-size: 17px;
}

.info a {
    font-size: 17px;
    margin-left: 10px;
}

.following {
    font-family: Arial;
    color: #646464;
}

.images {
    margin: 0 80px;
}

.images img {
    display: inline;
    width: 350px;
    margin: 5px;
}

.button_style {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button1:hover {
    background-color: #e7e7e7;
}

.round_border{
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.div_border {
    width: 650px;
    margin: 20px 0;
    padding: 30px;
    border: 2px solid #252525;
    border-radius: 12px;
}